

  <div class="grd-row">
    <div class="grd-row-col-2">
        <h1 class="subtitle">Postulantes</h1>
        <form class="formInicioPostulante">
          <label class="nameTag" for="fullname">Nombre</label>
          <input type="text" name="fullname">
          <label class="nameTag" for="photo">Imagen</label>
          <input type="url" name="photo"placeholder="">
          <input type="submit" class="btn--blue btn--add" value="Agregar">
        </form>
    </div>
    <div class="row">
      <div class="col">
        <div class="media" *ngFor="let postulant of postulants">
          <div class="media-figure postulantPic">
            <img width="30%" [src]="postulant.data.photo">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="media-body">
              <p>{{postulant.data.fullname}}</p>
              <div class="btn--group">
                <button class="btn--green btn--s btn1">Editar</button>
                <button class="btn--red btn--s btn2">Eliminar</button>
              </div>
            </div>
      </div>
    </div>
  </div>
