/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: darkcyan;
    color: white;
    font-weight: 600;
}
.login{
    width: 40% !important;
    margin-left: 30%;
    margin-right: 30%;
}
